<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleIsRelocatable</key>
		<false/>
		<key>RootRelativeBundlePath</key>
		<string>Applications/Ballerina Composer.app</string>
	</dict>
</array>
</plist>
