name: Ballerina distribution build
on: [pull_request, build]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Maven
        uses: stCarolas/setup-maven@v3
        with:
          maven-version: 3.5.4
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set credentials
        run: echo "Set enviroments"
        env:
          packagePAT: ${{ secrets.READ_PACKAGE_PAT }}
          packageUser: ${{ secrets.PUBLISH_USER }}
      - name: Ballerina distribution build
        env:
          GITHUB_TOKEN: ${{ secrets.READ_PACKAGE_PAT }}
          packagePAT: ${{ secrets.READ_PACKAGE_PAT }}
          packageUser: ${{ secrets.PUBLISH_USER }}
        run: mvn -s settings.xml -Dmaven.wagon.http.pool=false clean install -B -V

