name: Ballerina Distribution Build 

on:
  push:
    branches:
      - master
      - stage
      - ballerina-1.1.x
  workflow_dispatch:
    inputs:
      skipTests:
        description: 'Skip Tests during build'
        required: false
        default: 'false'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build Ballerina Distribution
        if: ${{ github.event.inputs.skipTests == '' || github.event.inputs.skipTests == 'false' }}
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
          devCentralToken: ${{ secrets.BALLERINA_DEV_CENTRAL_ACCESS_TOKEN }}
        run: ./gradlew clean build --stacktrace --scan --console=plain --no-daemon --continue
      - name: Build Ballerina Distribution Skip Tests
        if: ${{ github.event.inputs.skipTests == 'true' }}
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
          devCentralToken: ${{ secrets.BALLERINA_DEV_CENTRAL_ACCESS_TOKEN }}
        run: ./gradlew clean build --stacktrace --scan --console=plain --no-daemon --continue -x test
      - name: Archive Ballerina ZIP
        uses: actions/upload-artifact@v2
        with:
          name: Ballerina ZIP
          path: ballerina/build/distributions/ballerina-swan-lake-*.zip
      - name: Archive Ballerina Short Name ZIP
        uses: actions/upload-artifact@v2
        with:
          name: Ballerina Short Name ZIP
          path: ballerina/build/distributions/ballerina-sl*.zip
      - name: Archive Linux installer ZIP
        uses: actions/upload-artifact@v2
        with:
          name: Linux installer ZIP
          path: ballerina/build/distributions/ballerina-linux-*.zip
      - name: Archive MacOS installer ZIP
        uses: actions/upload-artifact@v2
        with:
          name: MacOS installer ZIP
          path: ballerina/build/distributions/ballerina-macos-*.zip
      - name: Archive Windows Installer ZIP
        uses: actions/upload-artifact@v2
        with:
          name: Windows Installer ZIP
          path: ballerina/build/distributions/ballerina-windows-*.zip