name: Pull Request

on:
    push:
    pull_request:
        branches:
            - master
            - ballerina-1.1.x
            - ballerina-1.2.x
            - 2201.2.x
            - 2201.3.x
            - gayal-cleansuite-fix

jobs:
    ubuntu-integration-tests:
        name: Integration Tests on Ubuntu
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.ref }}-integration-tests
            cancel-in-progress: true
        steps:
            -   name: Checkout Repository
                uses: actions/checkout@v2
            -   name: Set up JDK 11
                uses: actions/setup-java@v2
                with:
                    distribution: 'temurin'
                    java-version: '11'
            -   name: Build Ballerina Distribution
                env:
                    packageUser: ${{ github.actor }}
                    packagePAT: ${{ secrets.GITHUB_TOKEN }}
                    devCentralToken: ${{ secrets.BALLERINA_DEV_CENTRAL_ACCESS_TOKEN }}
                    ballerinaBotWorkflow: $ {{ secrets.BALLERINA_BOT_WORKFLOW }}
                run:
                    echo $ballerinaBotWorkflow
                    ./gradlew clean :project-api-tests:test --stacktrace --scan --console=plain --no-daemon --continue

#    ubuntu-bbe-tests:
#           name: BBE Tests on Ubuntu
#        runs-on: ubuntu-latest
#        concurrency:
#            group: ${{ github.ref }}-bbe-tests
#            cancel-in-progress: true
#        steps:
#            -   name: Checkout Repository
#                uses: actions/checkout@v2
#            -   name: Set up JDK 11
#                uses: actions/setup-java@v2
#                with:
#                    distribution: 'temurin'
#                    java-version: '11'
#            -   name: Build Ballerina Distribution
#                env:
#                    packageUser: ${{ github.actor }}
#                    packagePAT: ${{ secrets.GITHUB_TOKEN }}
#                    devCentralToken: ${{ secrets.BALLERINA_DEV_CENTRAL_ACCESS_TOKEN }}
#                    ballerinaBotWorkflow: $ {{ secrets.BALLERINA_BOT_WORKFLOW }}
#                run: ./gradlew clean :ballerina:testExamples --stacktrace --scan --console=plain --no-daemon --continue -x :project-api-tests:test
#    windows-build-without-tests:
#        name: Windows Build
#        runs-on: windows-latest
#        concurrency:
#            group: ${{ github.ref }}-windows
#            cancel-in-progress: true
#        steps:
#            -   name: Checkout Repository
#                uses: actions/checkout@v2
#            -   name: Set up JDK 11
#                uses: actions/setup-java@v2
#                with:
#                    distribution: 'temurin'
#                    java-version: '11'
#            - name: Build Ballerina Distribution
#              env:
#                  packageUser: ${{ github.actor }}
#                  packagePAT: ${{ secrets.GITHUB_TOKEN }}
#                  JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF8
#                  devCentralToken: ${{ secrets.BALLERINA_DEV_CENTRAL_ACCESS_TOKEN }}
#                  ballerinaBotWorkflow: $ {{ secrets.BALLERINA_BOT_WORKFLOW }}
#              run: ./gradlew.bat clean build --stacktrace --scan --console=plain --no-daemon --continue -x test
